# Garmin one run analysis and annotations

- Import your run from [Garmin Connect](https://connect.garmin.com/signin)!
- This jupyter notebook is the analysis of my run at the ["Haaksbergense Engelse Mijlenloop 2022"](https://connect.garmin.com/modern/activity/8491120962) (activity: 8491120962)

In [69]:
import pandas as pd
import fitdecode #https://fitdecode.readthedocs.io/en/latest/ the Flexible and Interoperable Data Transfer (FIT) protocol is a binary format created by Garmin. fitdecode is a Python library for parsing FIT files.

In [70]:
# COLUMNS_LAPS = ['number', 'start_time', 'total_distance', 'total_elapsed_time','max_speed', 'max_heart_rate', 'avg_heart_rate']

In [76]:
COLUMNS_RECORDS = ['timestamp',
                    'position_lat',
                    'position_long',
                    'distance',
                    'enhanced_speed',
                    'enhanced_altitude',
                    'vertical_oscillation',
                    'stance_time_percent',
                    'stance_time',
                    'vertical_ratio',
                    'stance_time_balance',
                    'step_length',
                    'heart_rate',
                    'cadence',
                    'temperature',
                    'activity_type',
                    'fractional_cadence']

In [72]:
# Corrections
# Timestamp should be +1h
# converter_gps = <latitude or longitude>/(2**32)/360
# cadence is in rpm instead of ppm

In [73]:
garmin_fit_file = '8491120962_ACTIVITY.fit'

In [77]:
data={}
df_lap=pd.DataFrame()
df_record=pd.DataFrame()

with fitdecode.FitReader(garmin_fit_file) as fit_file:
    for frame in fit_file:
        if isinstance(frame, fitdecode.records.FitDataMessage):
            if frame.name == 'lap':
                for field in COLUMNS_LAPS:  
                    if frame.has_field(field):
                        data[field] = frame.get_value(field)
                df_lap = df_lap.append(data,ignore_index=True)
                
            elif frame.name == 'record':
                for field in COLUMNS_RECORDS:  
                    if frame.has_field(field):
                        data[field] = frame.get_value(field)
                df_record = df_record.append(data,ignore_index=True)

In [78]:
df_record

,activity_type,cadence,distance,enhanced_altitude,enhanced_speed,fractional_cadence,heart_rate,position_lat,position_long,stance_time,...,temperature,timestamp,vertical_oscillation,vertical_ratio,avg_heart_rate,max_heart_rate,max_speed,start_time,total_distance,total_elapsed_time
0,running,90.0,0.00,29.0,2.193,0.5,126.0,622228883.0,80430558.0,269.0,...,25.0,2022-03-20 11:01:01+00:00,67.2,None,NaN,NaN,NaN,NaN,NaN,NaN
1,running,90.0,2.50,29.0,2.146,0.0,125.0,622229132.0,80430723.0,270.0,...,25.0,2022-03-20 11:01:02+00:00,67.2,2.21,NaN,NaN,NaN,NaN,NaN,NaN
2,running,92.0,10.37,29.0,2.221,0.0,128.0,622229944.0,80431068.0,254.0,...,25.0,2022-03-20 11:01:05+00:00,69.2,8.18,NaN,NaN,NaN,NaN,NaN,NaN
3,running,92.0,17.10,29.0,2.948,0.0,132.0,622230648.0,80431328.0,245.0,...,25.0,2022-03-20 11:01:07+00:00,77.0,8.68,NaN,NaN,NaN,NaN,NaN,NaN
4,running,92.0,20.43,29.2,3.079,0.5,134.0,622231005.0,80431356.0,242.0,...,25.0,2022-03-20 11:01:08+00:00,76.0,8.46,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,running,87.0,15980.49,29.6,3.275,0.5,191.0,622235167,80430101,243.0,...,23.0,2022-03-20 12:26:50+00:00,97.5,8.37,185.0,188.0,None,2022-03-20 12:16:50+00:00,1000.0,305.391
1277,running,88.0,15993.38,29.8,3.312,0.0,191.0,622233939,80431135,244.0,...,23.0,2022-03-20 12:26:53+00:00,122.0,8.37,185.0,188.0,None,2022-03-20 12:16:50+00:00,1000.0,305.391
1278,running,86.0,16001.21,29.8,3.322,0.5,191.0,622233190,80431752,244.0,...,23.0,2022-03-20 12:26:55+00:00,105.2,8.18,185.0,188.0,None,2022-03-20 12:16:50+00:00,1000.0,305.391
1279,running,86.0,16020.87,30.0,3.434,0.5,191.0,622231139,80432309,235.0,...,23.0,2022-03-20 12:27:00+00:00,113.2,8.78,188.0,192.0,None,2022-03-20 12:21:56+00:00,1000.0,300.360
1280,running,83.0,16028.67,30.0,3.480,0.5,191.0,622230309,80432130,243.0,...,23.0,2022-03-20 12:27:02+00:00,125.7,8.78,188.0,192.0,None,2022-03-20 12:21:56+00:00,1000.0,300.360

# Other solution

In [27]:
!fitjson -f=record -o out_file.json 8491120962_ACTIVITY.fit

In [32]:
df_json = pd.read_json('out_file.json', lines=False)

In [46]:
df_record = pd.DataFrame.from_dict(df_json['fields'],orient='columns').dropna()

In [56]:
df_record.head()

                                              fields
2  [{'name': 'timestamp', 'value': '2022-03-20T11...
3  [{'name': 'timestamp', 'value': '2022-03-20T11...
4  [{'name': 'timestamp', 'value': '2022-03-20T11...
6  [{'name': 'timestamp', 'value': '2022-03-20T11...
7  [{'name': 'timestamp', 'value': '2022-03-20T11...

In [59]:
df_record['fields'][2]

[{'name': 'timestamp',
  'value': '2022-03-20T11:01:01+00:00',
  'units': '',
  'def_num': 253,
  'raw_value': 1016708461},
 {'name': 'position_lat',
  'value': 52.1546224784106,
  'units': 'deg',
  'def_num': 0,
  'raw_value': 622228883},
 {'name': 'position_long',
  'value': 6.7416114918887615,
  'units': 'deg',
  'def_num': 1,
  'raw_value': 80430558},
 {'name': 'distance',
  'value': 0.0,
  'units': 'km',
  'def_num': 5,
  'raw_value': 0},
 {'name': 'enhanced_speed',
  'value': 7.8948,
  'units': 'km/h',
  'def_num': 73,
  'raw_value': 2193},
 {'name': 'enhanced_altitude',
  'value': 29.0,
  'units': 'm',
  'def_num': 78,
  'raw_value': 2645},
 {'name': 'vertical_oscillation',
  'value': 67.2,
  'units': 'mm',
  'def_num': 39,
  'raw_value': 672},
 {'name': 'stance_time_percent',
  'value': 41.75,
  'units': 'percent',
  'def_num': 40,
  'raw_value': 4175},
 {'name': 'stance_time',
  'value': 269.0,
  'units': 'ms',
  'def_num': 41,
  'raw_value': 2690},
 {'name': 'vertical_ratio',
  'value': None,
  'units': 'percent',
  'def_num': 83,
  'raw_value': None},
 {'name': 'stance_time_balance',
  'value': 45.03,
  'units': 'percent',
  'def_num': 84,
  'raw_value': 4503},
 {'name': 'step_length',
  'value': None,
  'units': 'mm',
  'def_num': 85,
  'raw_value': None},
 {'name': 'unknown_87',
  'value': 0,
  'units': '',
  'def_num': 87,
  'raw_value': 0},
 {'name': 'heart_rate',
  'value': 126,
  'units': 'bpm',
  'def_num': 3,
  'raw_value': 126},
 {'name': 'cadence',
  'value': 90,
  'units': 'rpm',
  'def_num': 4,
  'raw_value': 90},
 {'name': 'temperature',
  'value': 25,
  'units': 'C',
  'def_num': 13,
  'raw_value': 25},
 {'name': 'activity_type',
  'value': 'running',
  'units': '',
  'def_num': 42,
  'raw_value': 1},
 {'name': 'fractional_cadence',
  'value': 0.5,
  'units': 'rpm',
  'def_num': 53,
  'raw_value': 64}]